{
  "AuthType" : "GOOGLE", // GOOGLE | PTC
  "MaxRetryWhenServerError" : 5,
  "DelayMsBetweenApiRequest" : 1000,
  "DefaultLatitude" : 25.159910,
  "DefaultLongitude" : 121.456276,
  "DefaultAltitude" : 18,
  "SpeedPerSecond": 2, // meter per second
  "BackBag" : {
	"MaxReviveToKeep" : 10,
	"MaxPotionToKeep" : 10,
	"MaxBallToKeep": 150,
	"MaxBerryToKeep": 150	
  }
}